<launch>
    <arg name="project" default="lio_sam"/>
    <arg name="rviz" default="true"/>
    <arg name="params" default="params.yaml"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/$(arg params)" command="load" />
    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />
    <!--- Fix missing per-point time field (KITTI bags) -->
    <include file="$(find points_time_fix)/launch/points_time_fix.launch" />
    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />
    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />
    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>
</launch>
